services:
  - type: web
    name: accessibility-scanner
    env: node
    region: oregon
    plan: free
    buildCommand: NODE_ENV=development npm install && npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PUPPETEER_SKIP_CHROMIUM_DOWNLOAD
        value: false
      - key: PUPPETEER_EXECUTABLE_PATH
        value: /usr/bin/google-chrome-stable
    healthCheckPath: /